<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>JoshP.org</title>

        <link rel="stylesheet" href="/static/styles/common.css">
        <link rel="stylesheet" href="/static/styles/nav.css">
        <link rel="stylesheet" href="/static/styles/signin.css">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap" rel="stylesheet">

        <script src="https://kit.fontawesome.com/1dd7ea8f32.js" crossorigin="anonymous"></script>

        <script src="/static/scripts/dropdowns/account_nav.js" defer></script>
    </head>
    <body>
        <div id="nav-wrapper">
            <div id="nav">
                <div id="nav-left">
                    <button id="nav-back-wrapper" onclick="history.back()">
                        <i id="nav-back" class="fa-solid fa-left-long"></i>
                    </button>
                </div>
                <div id="nav-center">
                    <div id="nav-title">
                        <span class="bold">JoshP</span>
                        <span class="thin">.org</span>
                    </div>
                </div>
            </div>
        </div>
        <div id="sign-in-wrapper">
            <div id="sign-in">
                <h1 class="bold">Sign In</h1>
                <div id="sign-in-inputs">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password">
                </div>
                <input type="submit"></input>
                <button id="sign-up-button">Create Account</button>
            </div>
        </div>
    </body>
</html>